.antagonist {
    margin: 15px 0 25px 0;
    background-color: rgb(250, 241, 202);
    padding: 15px 20px 20px;
    border-radius: 20px;
}

.responsive {
    width: 80%;
    height: auto;
    border: 1px solid black;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.blog{
    text-align: center;
}

.btn{
    width: 15vw;
    border: 1px solid black;
}