<div class="container" style="margin-top:30px">
    <div class="row">
   
        <div class="col-sm-12 antagonist">
            <h1 class="title">{{antagonist1.name}}</h1>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 image">
                        <img src={{antagonist1JPG}} alt={{antagonist1.name}} class="responsive" width="50" height="50">
                    </div>
                    <div class="col-sm-12 description">
                        <p>{{antagonist1.description}}</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec laoreet augue, ut consectetur est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque non purus nisl. Curabitur vulputate ligula metus, vehicula suscipit augue dapibus vulputate. Nam non luctus nibh. Quisque vitae massa felis. Vestibulum non mi a mi porttitor euismod. Mauris tempus iaculis dolor consectetur blandit. Nam non tellus at est lacinia blandit. Phasellus eget consequat magna. Praesent id nibh laoreet, lacinia tellus et, laoreet dolor. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero felis, rutrum in est et, accumsan porta mauris. Donec lacinia, lorem non euismod suscipit, metus urna egestas magna, in bibendum elit nulla sed massa. Donec maximus et dolor facilisis tincidunt.
                            Sed ultricies egestas quam, quis aliquam justo imperdiet et. Aliquam pulvinar aliquet turpis. Proin elementum nibh vel arcu porttitor, id tempor odio rhoncus. Mauris bibendum nisl a metus tincidunt, ut dapibus erat posuere. Nunc ipsum felis, auctor a orci eget, pellentesque cursus arcu. Aliquam consectetur rhoncus eros, nec mollis lectus bibendum vel. Sed molestie, dolor non tristique sagittis, dolor augue cursus neque, fermentum bibendum lacus lacus sit amet leo. Nulla erat turpis, mollis et scelerisque vitae, imperdiet eu turpis. Quisque commodo diam sed quam cursus, in pellentesque tortor tristique. Quisque fringilla vehicula mattis. Vestibulum hendrerit dapibus ultrices. Etiam sodales sed nisl finibus viverra. Morbi purus libero, elementum eu tortor et, accumsan sodales leo. Nunc consectetur vel lacus at egestas. Praesent metus quam, tincidunt sit amet erat finibus, dignissim sagittis mauris. Etiam mauris ligula, porta non nibh ac, suscipit lacinia dui.
                        </p>
                    </div>
                </div>
            </div>   
        </div>
 
    </div>
</div>
